/.gitattributes export-ignore
/.travis.yml export-ignore
/phpunit.xml export-ignore
/tests/ export-ignore
# Define phar file attributes.
# - Use text diff to make reviewing changes easy.
*.phar      -text diff
*.phar.png  -text diff