/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/.github/ export-ignore
/tests/ export-ignore
# Define phar file attributes.
# - Use text diff to make reviewing changes easy.
*.phar      -text diff
*.phar.png  -text diff
