<?xml version="1.0" encoding="utf-8" ?>
<phpunit
		bootstrap="vendor/autoload.php"
		backupGlobals="true"
		colors="true"
		processIsolation="true"
		verbose="true">
	<php>
	<ini name="SYMFONY_PHPUNIT_REMOVE" value="symfony/yaml"/>
	</php>
	<testsuites>
		<testsuite name="functional tests">
			<directory>tests/Functional/</directory>
		</testsuite>
		<testsuite name="unit tests">
			<directory>tests/Unit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
