name: 'Tests (Windows)'

on:
  push:
  pull_request:
  schedule:
    - cron:  '45 6 * * *'

jobs:
  build:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['7.4', '8.0', '8.1', '8.2', '8.3', '8.4']

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: bz2
          tools: composer:v2

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        if: ${{ matrix.php <= '8.1' }}
        # Remove xdebug dependency as performance testing is not relevant at this point.
        run: |
          composer remove --dev --no-update ext-xdebug
          composer install --prefer-dist --no-progress --no-suggest

      - name: Install dependencies PHP 8.2
        # @todo: Needed until prophecy (req by phpunit) allows PHP 8.2, https://github.com/phpspec/prophecy/issues/556
        if: ${{ matrix.php > '8.1' }}
        # Remove xdebug dependency as performance testing is not relevant at this point.
        run: |
          composer remove --dev --no-update ext-xdebug
          composer install --prefer-dist --no-progress --no-suggest --ignore-platform-req=php+

      - name: Run test suite
        env:
          SYMFONY_PHPUNIT_REMOVE_RETURN_TYPEHINT: 1
          SYMFONY_PHPUNIT_DISABLE_RESULT_CACHE: 1
        run: |
          vendor/bin/simple-phpunit --colors
